.cart-widget-side {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 520px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    transition: transform .3s ease-in-out;
    transform: translate3d(100%, 0, 0);
    z-index: 9999999999;

    @media screen {
        @media (max-width: 575px) {
            width: 100%;
        }
    }

    &.wc-opened,
    &.wd-opened {
        transform: translate3d(0, 0, 0);
    }

    .wc-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 0 17px;
        background-color: #F8F8F8;
        border-bottom: 1px solid #E6E6E6;

        .title { 
            display: flex;
            align-items: center;
            gap: 0 16px;
            line-height: 28px;
            font-size: 20px;
            font-weight: 500;
            color: #323232;

            .cart-icon {
                position: relative;

                &__badge {
                    position: absolute;
                    top: -1px;
                    right: -3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 16px;
                    height: 16px;
                    background-color: #757092;
                    color: #fff;
                    font-weight: 600;
                    font-size: 10px;
                    border-radius: 50%;
                }
            }
        }

        .close-side-widget {
            display: inline-flex;

            a {
                display: inline-flex;
                width: 56px;
                height: 56px;
                background: #fff url('../images/icons/close-side-widget-icon.svg') center center no-repeat;
                font-size: 0;

                @media screen {
                    @media (min-width: 992px) {
                        &:hover {
                            background-color: darken(#fff, 1%);
                        }
                    }
                }
            }
        }
    }

    .cart-rewards {
        margin: 40px 0 87px 0;
        padding: 0 20px;

        @media screen {
            @media (max-width: 575px) {
                margin: 20px 0 62px 0;
                padding: 0 16px;
            }
        }

        &__message {
            margin: 0 0 35px 0;
            line-height: 22px;
            font-weight: 600;
            font-size: 16px;
            color: #323232;

            @media screen {
                @media (max-width: 575px) {
                    text-align: center;
                }
            }
        }

        &__track {
            position: relative;
            height: 20px;
            background-color: #F8F8F8;
            border-radius: 35px;

            @media screen {
                @media (max-width: 575px) {
                    height: 15px;
                }
            }
        }

        &__fill {
            height: 100%;
            background-color: #393262;
            border-radius: 35px;
        }

        &__tiers {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: -15px;
            right: 0;
            width: 100%;
            gap: 0 55px;

            @media screen {
                @media (max-width: 575px) {
                    top: -12px;
                    gap: 0 30px;
                }
            }
        }

        &__tier {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px 0;
            line-height: 20px;
            color: #323232;
            font-size: 14px;
            text-align: center;

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border: 2px solid #393262;
                background-color: #fff;
                pointer-events: none;
                user-select: none;
                border-radius: 50%;

                @media screen {
                    @media (max-width: 575px) {
                        width: 40px;
                        height: 40px;
                        padding: 5px;
                    }
                }
            }

            &--reached {
                .cart-rewards__tier-icon {
                    background-color: #393262;

                    img, svg {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

    .widget_shopping_cart {
        display: flex;
        flex-grow: 1;

        .widget_shopping_cart_content {
            display: flex;
            flex-direction: column;
            gap: 50px 0;
            width: 100%;

            @media screen {
                @media (max-width: 768px) {
                    gap: 14px 0;
                }
            }

            .shopping-cart-widget-body {
                padding: 0;

                .woocommerce-mini-cart {
                    display: flex;
                    flex-direction: column;

                    .woocommerce-mini-cart-item {
                        position: relative;
                        display: flex;
                        align-items: flex-start;
                        gap: 0 12px;
                        padding: 15px 20px;
                        border-bottom: 1px solid #E6E6E6;

                        @media screen {
                            @media (max-width: 575px) {
                                padding-left: 16px;
                                padding-right: 16px;
                            }
                        }

                        .cart-item-image {
                            display: flex;
                            flex-shrink: 0;
                            width: 80px;
                            height: 80px;
                            border-radius: 4px;

                            @media screen {
                                @media (max-width: 575px) {
                                    width: 64px;
                                    height: 64px;
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 4px;
                            }

                            &:hover {
                                opacity: .85;
                            }
                        }

                        .cart-info {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            flex-grow: 1;
                            font-size: 14px;

                            .wc-entities-title { 
                                display: block;
                                margin: 0 0 9px 0;
                                padding-right: 40px;
                                line-height: 22px;
                                font-weight: 600;
                                font-size: 16px;
                                color: #323232;
                            }

                            div.quantity {
                                border-color: #6C6C6C;
                            }

                            span.quantity {
                                display: block;
                                line-height: 17.64px;
                                font-weight: 600;

                                .woocommerce-Price-amount {
                                    color: #C0080B;
                                }
                            }

                            .features {
                                display: flex;
                                flex-direction: column;
                                gap: 3px 0;
                                margin: 0 0 10px 0;

                                li {
                                    span {
                                        color: #323232;
                                    }
                                }
                            }
                        }

                        .price-holder {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 0 20px;
                            width: 100%;
                        }

                        .wp-block-woocommerce-product-price {
                            font-weight: 600;
                            font-size: 16px;

                            del {
                                font-size: 14px;
                                font-weight: 400;
                                color: #6C6C6C;
                            }

                            ins {
                                color: #D12C2C;
                                text-decoration: none;
                            }
                        }

                        .woocommerce-Price-amount {
                            font-size: 16px;
                            font-weight: 600;
                            color: #323232;

                            del {
                                font-weight: 400;
                                color: #6C6C6C;
                            }

                            ins {
                                color: #D12C2C;
                                text-decoration: none;
                            }
                        }

                        .remove {
                            position: absolute;
                            top: 16px;
                            right: 20px;
                            width: 24px;
                            height: 24px;
                            background: url('../images/icons/woocommerce-mini-cart-item-remove-icon.svg') center center no-repeat;
                            font-size: 0;
                            transition: opacity .3s ease-in-out;

                            @media screen {
                                @media (min-width: 992px) {
                                    &:hover {
                                        opacity: .6;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .shopping-cart-widget-footer {
                margin-top: auto;
                padding: 16px 0 0 0;
                box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.08);


                .woocommerce-mini-cart__total {
                    display: flex;
                    flex-direction: column;
                    gap: 12px 0;
                    margin: 0 0 14px 0;
                    padding: 0 20px;

                    @media screen {
                        @media (max-width: 575px) {
                            padding-left: 16px;
                            padding-right: 16px;
                        }
                    }

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between; 
                        
                        &.total {
                            font-weight: 500;
                            font-size: 20px;
                            color: #323232;
                        } 
                    }

                    strong { 
                        line-height: 28px;
                        font-weight: 500;
                    }

                    
                }

                .wd-progress-bar {
                    padding: 0 15px;
                    margin: 0 0 20px 0;

                    @media screen {
                        @media (max-width: 575px) {
                            display: none;
                        }
                    }

                    &.wd-free-progress-bar {
                        .progress-msg {
                            display: block;
                            margin-bottom: 9px;
                            font-size: 14px;
                            font-weight: 500;
                            color: #767676;

                            strong {
                                .woocommerce-Price-amount {
                                    font-weight: 500;
                                    color: #C0080B;
                                }
                            }
                        }

                        .progress-area {
                            position: relative;
                            height: 10px;
                            background: rgba(0, 0, 0, 0.06);
                            border-radius: 3px;

                            .progress-bar { 
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                background: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 20px, transparent 20px, transparent 40px), #DCB983;
                                isolation: isolate;
                                border-radius: 3px;
                            }
                        }
                    }
                }

                .woocommerce-mini-cart__buttons {
                    &.buttons {
                        display: flex;
                        flex-direction: column;
                        gap: 12px 0;
                        padding: 20px;

                        @media screen {
                            @media (max-width: 575px) {
                                padding: 16px;
                            }
                        }

                        .button {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}