.sidebar {
    .close-sidebar {
        @media screen {
            @media (min-width: 992px) {
                display: none;
            }
        }
    }

    .sidebar-title {
        padding: 0 0 12px 0;
        border-bottom: 1px solid #E6E6E6;
        line-height: 28px;
        font-weight: 600;
        font-size: 20px;
        color: #323232;
        text-transform: uppercase;
    }

    .widget-area {
        @media screen {
            @media (min-width: 992px) {
                position: relative;
                // top: -20px;
            }
        }
        
        .widget {
            &:not(:last-child) {
                border-bottom: 1px solid #E6E6E6;
            }

            &__content {
                overflow: hidden;
                transition: max-height 0.3s ease-out, opacity 0.2s ease;
                opacity: 1;
            }

            &:not(.close) {
                padding-bottom: 20px;

                .widget__content {
                    max-height: 1000px !important; 
                }
            }

            .widget-title {
                position: relative;
                padding: 20px 30px 20px 0;
                font-weight: 500;
                font-size: 16px;
                color: #323232;
                text-transform: uppercase;
                user-select: none;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    background: url('../images/icons/sidebar-filter-arrow.svg') center center no-repeat;
                    transform: translateY(-50%) rotate(-180deg);
                    transition: all .3s ease-in-out;
                }
            }

            .search-filter {
                height: 48px;
                width: 100%;
                padding: 0 50px 0 12px;
                margin: 0 0 20px 0;
                background: #fff url('../images/icons/filter-search-icon.svg') center right 12px no-repeat;
                border: 1px solid #E6E6E6;
                border-radius: 35px;
            }

            .wc-filter-list__more {
                margin: 20px 0 0 0;
                padding: 0;
                border: 0;
                background: none;
                color: #393262;
                font-size: 14px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #000;
                }
            }

            ul[class*="filter-list"] {
                display: flex;
                flex-direction: column;
                gap: 15px 0;
                max-height: 165px;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 7px; 
                    border-radius: 20px;
                }

                &::-webkit-scrollbar-button {
                    display: none;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                    border: 1px solid #E6E6E6;
                    border-radius: 20px;
                }

                &::-webkit-scrollbar-thumb {
                    width: 3px;
                    background-color: #6C6C6C;
                    border-radius: 20px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: #808080;
                }

                > li {
                    > {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 0 12px;
                            padding-right: 5px;
                            color: #6C6C6C;
                            text-decoration: none;

                            &.layered-nav-link {
                                &::before {
                                    content: '';
                                    flex-shrink: 0;
                                    width: 20px;
                                    height: 20px;
                                    background: #fff url('../images/icons/checkbox-check-icon.svg') center center no-repeat;
                                    border: 1px solid #6C6C6C;
                                    border-radius: 4px;
                                }
                            }

                            .link-logo {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 26px;
                                width: 60px;
                            }

                            .count {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                height: 20px;
                                padding: 0 10px;
                                margin-left: auto;
                                border: 1px solid #E9E9E9;
                                line-height: 18px;
                                font-size: 12px;
                                color: #323232;
                                background-color: #fff;
                                transition: all 0.3s ease-in-out;
                                border-radius: 35px;
                            }

                            &:hover {
                                color: #393262;

                                .count { 
                                    background-color: #393262;
                                    border-color: #393262;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &[class*="active"] {
                        pointer-events: none;

                        > a {
                            color: #393262;

                            &::before {
                                background-color: #393262;
                                border-color: #393262;
                            }

                            .count {
                                background-color: #393262;
                                border-color: #393262;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            &.close {
                .widget-title { 
                    &::after {
                        transform: translateY(-50%) rotate(0);
                    }
                }
                
                .widget__content {
                    max-height: 0; 
                    opacity: 0;
                }
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}